@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap')
body 
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background-image: linear-gradient(to right top, #051937, #002265, #002993, #0029c1, #121beb);
    color: white


*
    margin: 0
    padding: 0

#root
    max-width: 1200px
    margin: 0 auto


